.card {
  width: 10rem;
  height: 13rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 10rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.26);
  border: 5px solid black;
  box-shadow: var(--boxShadow);
  border-radius: 20px;
  padding: 0px 26px 2rem 26px;
}
.card span:nth-of-type(1) {
  color: var(--orange);
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}
.card span:nth-of-type(2) {
  color: var(--gray);
  font-size: 16px;
}
.horizontal-line {
  width: 100%; /* Set the width to 100% to make it span the entire width */
  height: 2px; /* Set the height to define the thickness of the line */
  background-color: black; /* Set the background color to black */
}

.c-button {
    background: var(--orange);;
    box-shadow: 0px 19px 60px rgba(0, 0, 0, 0.08);
    border-radius: 7px;
    border: none;
    padding: 10px;
    font-size: 16px;
    color: #f0f1f3;
}

.c-button:hover{
    transform: scale(1.1);
    cursor: pointer;
}
/* cards */




@media screen and (max-width: 480px){
  .card{
    width: auto;
  }
}