@font-face {
    font-family: 'Playlist Script';
    src: url('../../fonts/Playlist\ Script.otf') format('opentype');
  }

.contact-form {
    display: flex;
    flex-wrap: wrap; /* Allow elements to wrap to next row if needed */
    align-items: flex-start; /* Align heading at the top */
    justify-content: center;
    height: 100vh;
    padding: 0 3rem 3rem 3rem;
  }
  
  .heading {
    width: 100%; /* Allow heading to take up full width */
    padding: 2rem; /* Add padding for spacing */
    text-align: center; /* Center align the text */
  }

  h3{
    font-size: 1rem;
  }
  
  .w-left {
    flex: 1; /* Allow w-left to take up available width */
    padding: 2rem; /* Add padding for spacing */
  }

  .w-left span:nth-of-type(1) {
    color: var(--black);
    font-size: 3.5rem;
    font-weight: bold;
    font-family: 'Playlist Script', cursive;
    text-shadow: 1px 1px 0px #FFA500;
  }
  
  .c-right {
    flex: 1; /* Allow c-right to take up available width */
    padding: 2rem; /* Add padding for spacing */
    justify-content: center;
    position: relative;
  }

  .c-right form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    align-items: center;
  }
  
  /* .c-right form input,
  .c-right form textarea {
    width: 100%;
    margin-bottom: 1rem;
  } */
  
  .c-right .user{
    width: 20rem;
    height: 2rem;
    padding: 0.3em;
    outline: none;
    border: 2px solid var(--orange);
    border-radius: 8px;
    font-size: 16px;   
}

textarea{
    height: 4rem!important;
}

.c-blur1{
    top: 1rem;
    left: 8rem;
}

@media screen and (max-width: 480px) {
    .contact-form{
        padding: 0;
        flex-direction: column;
        gap: 5rem;
        height: 40rem;
    }
    .c-right .user{
        width: 16rem;
    }

}   
  